$Location = 'C:\TEMP'

set-location $Location

$Path = (Get-Location)

configuration SetLocalDns
{
    $RetryCount=20
    $RetryIntervalSec=30

    Import-DscResource -ModuleName PSDesiredStateConfiguration, xNetworking
    
    $Interface = Get-NetAdapter | Where-Object Name -Like "Ethernet*" | Select-Object -First 1
    $InterfaceAlias = $($Interface.Name)
    $DNSRoot = Get-ADDomain | Select DNSRoot

    if ( $DNSRoot = "{{ domain_name }}" )
    {
        $DNSServers = "{{ rootdnsserver.0 }}","{{ rootdnsserver.1 }}"
    }
    elseif ( $DNSRoot = "{{ child_domain_name}}.{{ domain_name }}" )
    {
        $DNSServers = "{{ childdnsserver.0 }}","{{ childdnsserver.1 }}"
    }
    else
    {
        $DNSServers = '{{ upstreamdns }}'
    }

    Node localhost
    {
        LocalConfigurationManager
        {
            ConfigurationMode = 'ApplyOnly'
            RebootNodeIfNeeded = $true
        }
        #
        # Additional DCs must use another DC for DNS. 
        #
        xDnsServerAddress DnsServerAddress
        {
            Address        = $DNSServers
            InterfaceAlias = $InterfaceAlias
            AddressFamily  = 'IPv4'
        }
    }
}

SetLocalDns

Set-DSCLocalConfigurationManager -Computername localhost -Path .\SetLocalDns -Force -Verbose

Start-DscConfiguration -Wait -Force -Path .\SetLocalDns -Verbose     